<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetprincipal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
        <activity
            android:name="com.login.MainActivity"
            android:label="Planini" >
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="inscription.inscription"
            android:label="Inscription" >
        </activity>
        <activity
            
            android:name="metio.MainActivity"
            android:label="Voir la Metio :p">
        </activity>
         <activity
            android:name="com.update.update"
            android:label="Configuration ">
        </activity>
        <activity
            android:name="resultat.resultat"
            android:label="Les vol">
           
        </activity>
        <activity
            android:name="recherche.recherche"
            android:label="Recherche">
          
        </activity>
        <activity
            android:name="recherche.escale"
            android:label="Les Escale">
        </activity>
         <activity
            android:name="com.lesreservation.mesresclasse"
            android:label="Les Reservation">
        </activity>
        <activity
            android:name="menu.menu"
            android:label="Menu" >
           
        </activity>
    </application>

</manifest>